h1 {
    text-align: center;
    background-color:lightpink;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2 {
    text-align: center;
    background-color: lightpink;
    font-family: cursive;;
}
#titulo3 {
    border: solid 2px;
    font-family: arial;
    text-align: center;
}

body {
    margin: 50px;
}

.mi-li{
    color: violet;
}
.red {
    background-color: rgba(255, 0, 157, 0.411);
}
.yellow {
    background-color:rgba(255, 0, 157, 0.411);
}
.green {
    background-color: rgba(255, 0, 157, 0.411);
}
