h1 {
    text-align: center;
    background-color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h3 {
    text-align: center;
    background-color:whitesmoke;
    font-family: cursive;
}
#titulo3 {
    border: solid 2px;
    font-family: arial;
    text-align: center;
}
h2.titulo-centrado{
    text-align: center;
}
.block-container{
    margin-top: 50px;
}
body {
    margin: 50px;
}
.body-background{
    background-image: url("../img/hello.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
    background-color: lightgray;
    width: 100%;
}

.mi-li{
    color: violet;
}
.red {
    background-color: rgba(255, 0, 157, 0.411);
}
.yellow {
    background-color:rgba(255, 0, 157, 0.411);
}
.green {
    background-color: rgba(255, 0, 157, 0.411);
}
.beautiful {
    visibility: hidden;
    display: inherit;
}
.makeup {
    background-image: url('../img/makeup2.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
}